.about__container {
    grid-template-columns: 3fr 9fr;
    column-gap: 1.875rem;
    
  }
  .about__title_skills, .about__subtitle_skills{
    font-size: 15px;
  }
  
  .about__info {
    padding: 1.875rem;
    background-color: var(--container-color);
    box-shadow: var(--shadow);
    border-radius: var(--border-radius);
    grid-template-columns: repeat(2, 1fr);
    column-gap: 1.875rem;
    align-items: relative;
    margin-bottom: 3rem;
    box-shadow: 10px 5px 10px rgba(0, 0, 0, 1);
  }
  .about__info:hover {
    transform: translateY(-10px);
    box-shadow: 1pc;
  }
  .about__info::before {
    content: "";
    width: 0;
    height: 0;
    border-top: 10px;
    border-bottom: 10px solid transparent;
    border-right: 15px solid var(--container-color);
    position: absolute;
    left: -0.93rem;
    top: 20%;
  }
  
  .about__description {
    margin-bottom: 1rem;
    text-align: justify;
  }
  
  .about__skills {
    row-gap: 1.25rem;
  }
  
  .skills__titles {
    display: flex;
    justify-content: space-between;
  }
  
  .skills__name {
    font-size: var(--normal-font-size);
    font-weight: var(--font-medium);
  }
  
  .skills__number {
    line-height: 1.2;
  }
  
  .skills__bar,
  .skills__percentage {
    height: 7px;
    border-radius: 0.25rem;
  }
  
  .skills__bar {
    background-color: #f1f1f1;
  }
  
  .skills__percentage {
    display: block;
  }
  
  .development {
    width: 90%;
    background-color: rgb(255, 209, 92);
  }
  
  .ui__design {
    width: 76%;
    background-color: rgb(255, 76, 96);
  }
  .photography {
    width: 60%;
    background-color: rgb(108, 108, 299);
  }
  
  .about__boxes {
    grid-template-columns: repeat(4, 1fr);
    column-gap: 1.875rem;
    margin-top: 4.25rem;
  }
  
  .about__box {
    display: flex;
    column-gap: 1.5rem;
    padding-bottom: 3rem;
  }
  
  .about__icon {
    font-size: var(--h1-font-size);
    color: #dedeea;
  }
  
  .about__title {
    font-size: 1.875rem;
  }
  .devicon {
    font-size: 3em; /* Adjust the size as needed */
  }
  
  /* skills  */
  .about__box {
    cursor: pointer;
    transition: transform 0.3s ease-in-out;
    border: 1px solid #ddd;
    border-radius: 10px; /* Adjust the border radius for rounded corners */
    overflow: hidden;
    padding: 6px;
    margin-top: 8px
  }
  
  .about__box:hover {
    transform: scale(1.05);
  
  
  }
  
  /* AboutBox.css */
  
  .blog {
    border-radius: var(--border-radius);
    box-shadow: 10px 5px 10px rgba(0, 0, 0, 1);
  }
  
  .about__box {
    cursor: pointer;
    transition: transform 0.3s ease-in-out;
    border: 1px solid #ddd;
    border-radius: 8px; /* Adjust the border radius for rounded corners */
    overflow: hidden;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Add box-shadow to the language boxes */
  }
  
  .about__box:hover {
    transform: scale(1.05);
    border: 2px solid #3498db; /* Adjust the border color on hover */
  }
  .about__img1 {
    border-radius: 50%;
}
  
  
  @media screen and (max-width: 1024px){
    .about__container{
        grid-template-columns: 720px;
        justify-content:center;
        row-gap: 1.875rem;
    }
  
    .about__info::before{
      border-left: 10px solid transparent;
      border-right: 10px solid transparent;
      border-bottom: 10px soliud #fff;
      left: 49%;
      top: -20px;
    }
  
    .about__img{
      justify-self: center;
      
    }

    .about__box{
      flex-direction: column;
      row-gap: .5rem;
      text-align: center;
    }
  }
  
  @media screen and (max-width: 768px){
    .about__container{
      grid-template-columns: 350px;
    }
    .about__data::before{
      left: 47%;
    }
    .about__data{
      grid-template-columns: 1fr;
      row-gap: 1.875rem;
    }
    .about__boxes{
      grid-template-columns: repeat(2,150px);
      row-gap: 1.5rem;
      justify-content: center;
    }
  }
  
  @media screen and (max-width: 576px){
    .about__container{
      grid-template-columns: 320px;
    }
  }
  
  @media screen and (max-width: 350px){
    .about__container{
      grid-template-columns: 1fr;
    }
    .about__boxes{
      grid-template-columns: 1fr;
    }
    
  }
  
  